@charset "UTF-8";

@font-face {
    font-family: 'OpenSans-bold';
    src: url(../../Open_Sans/static/OpenSans-Bold.ttf) format(truetype),
}
@font-face {
    font-family: 'OpenSans-medium';
    src: url(../../Open_Sans/static/OpenSans-Medium.ttf);
}
@font-face {
    font-family: 'OpenSans-regular';
    src: url(../../Open_Sans/static/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'OpenSans-light';
    src:  url(../../Open_Sans/static/OpenSans-Light.ttf) format(truetype);
}

:root{
    --cor-de-fundo-principal: #09100B;
    --cor-de-fundo-secundaria: #EBFDEF;
    --cor-dos-quadrados: #00BF63;

    --cor-dos-titulos: #A0BD7A;
    --cor-dos-titulos-2: #2A6A5F;
    --cor-dos-subtitulos: #38D489;
    --cor-dos-paragrafos: #F2F1EB;
    --cor-dos-paragrafos-2: #1B1A1A;

    --fonte-bold: 'OpenSans-bold';
    --fonte-medium: 'OpenSans-medium';
    --fonte-regular: 'OpenSans-regular';
    --fonte-light: 'OpenSans-light';
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: var(--fonte-regular);
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

p,li{
    color: var(--cor-dos-paragrafos);
    font-family: 'OpenSans-light';
}

h1{
    color: var(--cor-dos-titulos);
    font-family: 'OpenSans-bold';
    font-size: 32px;
}

h3{
    color: var(--cor-dos-subtitulos);
    font-family: 'OpenSans-medium';
}

nav{
    display: flex;
    justify-content: space-around;

    padding: 15px 10px;
    text-align: center;
    margin: auto;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.021);

    background-color: transparent;
    backdrop-filter: blur(10px);
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--cor-dos-paragrafos);
}

nav>p{
    padding: 3px;
    font-size: 10px;
    display: inline-block;
}

#logoBIELG{
    width: 60px;
    height: 19px;
}

header{
    background-image: url(../../Imagens/Plano-de-Fundo/MontanhaNevada.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
}

@keyframes entrada {
    from {color: transparent; background-color: transparent; }
    to {color: ; background-color: ; }
}

section#cabeca{
    padding: 90px 15px;
}

#cimacabeca{
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabeca>h1{
    font-size: 42px;
    padding: 5px;
    animation-name: entrada;
    animation-duration: 5s;
}

#cabeca>h3{
    font-size: 21px;
    padding: 0px 15px 7px 15px;
    animation-name: entrada;
    animation-duration: 5s;
}

#cabeca>p{
    padding: 0px 20px;
    animation-name: entrada;
    animation-duration: 5s;
}

button{
    background-color: var(--cor-dos-quadrados);
    color: var(--cor-dos-paragrafos-2);
    font-family: 'OpenSans-light';
    font-size: 14px;
    padding: 5px 8px;
    border: none;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.411);
    animation-name: entrada;
    animation-duration: 5s;
    cursor: pointer;
    transition: 0.6s;
}

#portifolio{
    background-color: rgb(109, 13, 109);
    color: var(--cor-dos-paragrafos);
}

#portifolio:hover{
    background-color: rgb(73, 68, 68);
}

#portifolio>a{
    color: var(--cor-dos-paragrafos);

}

#contato{
    background-color: var(--cor-de-fundo-secundaria);
}

#contato:hover{
    background-color: gray;
}

main{
    color: var(--cor-dos-paragrafos-2);
    background-color: #09100B;
    text-align: center;
}

#art-sobremim{
    padding: 30px 10px 50px 10px;
    height: 685px;
    background-color: #09100B;
    box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.404);
    position: relative;
    z-index: 1;
}

#art-sobremim>p{
    padding: 10px;
}

.lanternaOFF{
    position: absolute;
    top: -1px;
    left: 30px;
}

#art-futuro-habilidades{
    display: flex;
    background-color: var(--cor-de-fundo-secundaria);
    margin: -315px 10px;
    border-radius: 25px;
    padding: 8px;
    border: 1px solid black;
    position: relative;
    z-index: 1;
}
#art-futuro-habilidades>section>p, li{
    color: var(--cor-dos-paragrafos-2);
}
#art-futuro-habilidades>section>h1{
    color: var(--cor-dos-titulos-2);
    font-size: 24px;
}

li{
    overflow: auto;
}

#desenvolvedor{
    padding: 5px;
    padding-top: 110px;
}

.logoslin{
    display: flex;
    width: 143px;
    height: 64px;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 2px;
}

#designer{
    padding: 5px;
    padding-top: 110px;
}

#vazio{
    background-color: var(--cor-de-fundo-secundaria);
    height: 342px;
}

#art-projetos{
    background-color: #09100B;
    box-shadow: 0px -5px 5px 4px rgba(0, 0, 0, 0.404);
    padding: 30px 10px;
}

#art-projetos>p{
    padding: 10px;
}

footer{
    background-color: #09100B;
    box-shadow: 0px -5px 5px 4px rgba(0, 0, 0, 0.404);
    display: flex;
    justify-content: space-around;
    padding: 5px;
    font-size: 12px;
    border-top: 1px solid var(--cor-dos-titulos-2);
}

.QDprojetos{
    display: inline-block;
    width: 110px;
    height: 75px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 2px 2px;
}

#art-proj01{
    background-image: url(../../Imagens/Imagens-dos-Projetos/Projeto-Android.png);
    background-size: cover;
    background-position: center center;
}

#art-proj01:hover{
    transform: scale(1.8);
    position: relative;
    left: 50px;
    transition: 0.5s;
}

#art-proj02{
    background-image: url(../../Imagens/Imagens-dos-Projetos/Projeto-Login.png);
    background-size: cover;
    background-position: center center;
}

#art-proj02:hover{
    transform: scale(1.8);
    position: relative;
    transition: 0.5s;
}

#art-proj03, #art-proj04, #art-proj05, #art-proj06{
    background-color: #2A6A5F;
}

#art-proj03:hover{
    transform: scale(1.8);
    position: relative;
    right: 50px;
    transition: 0.5s;
}

#art-proj04:hover{
    transform: scale(1.8);
    position: relative;
    left: 50px;
    transition: 0.5s;
}

#art-proj05:hover{
    transform: scale(1.8);
    transition: 0.5s;
}

#art-proj06:hover{
    transform: scale(1.8);
    position: relative;
    right: 50px;
    transition: 0.5s;
}

